/* MenuTransactionComponent */ 

  .menu-transaction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .menu-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .menu-option:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
  }
  
/* TransactionComponent */

.transaction-container {
  width: 100%;
  padding: 20px;
}

.transaction-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: 48%;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.transaction-form button {
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.transaction-form button:hover {
  background-color: #45a049;
}

.table-header {
  margin-top: 20px;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table th, .transaction-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.transaction-table th {
  background-color: #f2f2f2;
  text-align: left;
}

/* ResumeTable */

.resume-table-container {
  font-size: 60%; /* Reduce el tamaño de la letra al 60% del tamaño original */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.resume-table-container h1 {
  font-size: 1.2em; /* Ajusta el tamaño del título si es necesario */
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 0.9em; /* Ajusta el tamaño del texto en la tabla */
}

.transaction-table th {
  background-color: #f4f4f4;
}

.transaction-table button {
  font-size: 0.9em; /* Ajusta el tamaño del texto en el botón */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.new-button,
.save-button {
  font-size: 0.9em;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.new-button:hover,
.save-button:hover {
  background-color: #45a049;
}

.icon-button {
  background-color: #4CAF50;
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #45a049;
}

.submit-button {
  background-color: #2aab2e;
  color: white;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.table-header {
  margin-top: 20px;
}
