/* MenuTransactionComponent */ 

  .menu-transaction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .menu-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .menu-option:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
  }
  
/* TransactionComponent */

.transaction-container {
    padding: 20px;
  }
  
  .transaction-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .form-group label {
    width: 150px;
    font-weight: bold;
  }
  
  .form-group input {
    flex: 1;
    max-width: 400px; 
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .table-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .table-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transaction-table th, .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .transaction-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  